* {
    box-sizing: border-box;
}

.body {
    font-family: "Montserrat", serif;
}

.header-back-image {
    background: url(../images/Фон.png) center/cover;
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: multiply;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header {
    background: rgb(33,33,33, 0.5);
    backdrop-filter: blur(8px);
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper {
    max-width: 1172px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px 24px;
    font-family: "Montserrat", serif;
    width: 100%;
}

.logo {
    color: black;
    background: var(--color-primary);
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
}

.header-logo {
    font-size: 24px;
    color: var(--color-primary);
}

.header_menu {
    display: flex;
    gap: 40px;
}

.menu__item {
    font-size: 12px;
    color: var(--color-text);
}

.menu__item:hover {
    color: var(--color-stroke1);
}


.button_account {
    color: var(--color-bg);
    font-size: 10px;
    padding: 12px 30px;
    background: var(--color-stroke1);
    border-radius: 5px;
    font-weight: 600;
    border: none;
    font-family: "Montserrat", serif;
    transition: background 0.3s, color 0.3s;
}

.button_account:hover {
    color: var(--color-text);
    background: var(--color-primary);
}

.burger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger-menu span {
    width: 22px;
    height: 2px;
    background: var(--color-primary);
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Мобильное меню */
.mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.mobile-menu.open {
    transform: translateY(0);
}

.mobile-menu a, .mobile-menu button {

    text-decoration: none;
    font-size: 14px;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.header-indent {
    max-width: 1172px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 40px 24px;
}

.header-down-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.header-title {
    font-family: "Forum", serif;
    font-weight: 400;
    color: var(--color-text);
    font-size: 100px;
    text-align: center;
}

.header-desc {
    color: var(--color-text);
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

.header-down-center .style1-button .style1-btn {
    color: var(--color-bg);
    font-size: 14px;
    padding: 12px 60px;
    background: var(--color-stroke1);
    border-radius: 5px;
    font-weight: 600;
    transition: background 0.3s, color 0.3s;
}

.style1-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.style1-button .style1-btn:hover {
    color: var(--color-text);
    background: var(--color-primary);
}

.main-about_as {
    background: var(--color-bg-medium);
    padding: 40px 0px;
}

.about_as {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 30px;
}

.about_as-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about_us-title {
    font-family: "Forum", serif;
    font-size: 18px;
    color: var(--color-stroke1);
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.about_us-subtitle {
    font-family: "Forum", serif;
    font-size: 46px;
    color: var(--color-text);
}

.about_us-desc {
    line-height: 1.5;
    font-size: 15px;
    color: var(--color-text);
    padding-top: 10px;
}

.about_us-background {
    background: var(--color-bg-light);
    padding: 30px 25px;
}

.about_us-title1 {
    font-family: "Forum", serif;
    font-size: 22px;
    color: var(--color-stroke1);
}

.about_us-title2 {
    font-family: "Forum", serif;
    font-size: 22px;
    color: var(--color-stroke1);
    padding-top: 50px;
}

.about_us-text {
    font-size: 15px;
    color: var(--color-text);
    padding-top: 30px;
    line-height: 1.5;
}


.page {
    padding: 40px 0px;
    background: var(--color-bg-light);
}

.page-indent {
    max-width: 1172px;
    margin: 0 auto; 
    padding: 40px 24px;
}

.page-style {
    font-family: "Forum", serif;
    font-size: 18px;
    color: var(--color-stroke1);
    text-align: center;
    
}

.style-decs {
    font-family: "Forum", serif;
    font-size: 46px;
    color: var(--color-text);
    text-align: center;
    margin-top: 40px;
    font-weight: 500;
}
.style-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 60px;
    gap: 30px;
}
.style-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
}

.style-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
} 
.style-name {
    font-family: "Forum", serif;
    font-size: 22px;
    line-height: 1.5;
    color: var(--color-stroke1);
    text-align: center;  
}

.style-card-desc {
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-text);
    text-align: center;
}

.style-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.style-btn {
    color: var(--color-bg);
    font-size: 12px;
    padding: 12px 50px;
    background: var(--color-stroke1);
    border-radius: 5px;
    font-weight: 600;
    transition: background 0.3s, color 0.3s;
}

.style-button .style-btn:hover {
    color: var(--color-text);
    background: var(--color-primary);
}

.main-services {
    background: var(--color-bg-medium);
    padding: 40px 0px;
}

.services {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 25px;
}

.service-text {
   display: flex;
   flex-direction: column;
   gap: 28px;
}

.service-title {
    font-family: "Forum", serif;
    font-size: 18px;
    color: var(--color-stroke1);
}

.service-subtitle {
    font-family: "Forum", serif;
    font-size: 46px;
    font-weight: 500;
    color: var(--color-text);
}

.service-desc {
    line-height: 1.5;
    font-size: 15px;
    color: var(--color-text);
}

.choice {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 30px;
}

.choice-title {
    font-family: "Forum", serif;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--color-stroke1);
}

.choice-desc {
    font-family: "Montserrat", serif;
    line-height: 1.5;
    font-size: 15px;
    color: var(--color-text);
}

.page-indent1 {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 40px 20px;
}

.page_gallery {
    background: var(--color-bg-light);
    padding: 40px 0;
}

.gallery-title {
    font-family: "Forum", serif;
    font-size: 18px;
    color: var(--color-stroke1);
    text-align: center;
}

.gallery-desc {
    font-family: "Forum", serif;
    font-size: 46px;
    font-weight: 500;
    color: var(--color-text);
    text-align: center;
    margin-top: 40px;
}

.gallery-cards {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.img-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.img-wrapper img:hover {
    transform: scale(1.1);
}

.main_result-price {
    background: var(--color-bg-light);
    padding: 40px 0;
}

.result-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    border: 1px solid var(--color-stroke1);
    padding: 30px;
}

.price-title {
    font-family: "Forum", serif;
    color: var(--color-text);
    font-weight: 500;
    font-size: 40px;
}

.price-step {
    display: flex;
    height: 547px;
    gap: 20px;
}

.price-image {
    position: relative;
    height: 100%;
}

.price-image img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.quiz-bar {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-stroke1);
}

.step-num {
    font-size: 17px;
    margin-bottom: 8px;
}

.quiz-line {
    height: 2px;
    background: var(--color-line);
    margin-bottom: 20px;
}

.progres-line {
    height: 100%;
    background: var(--color-stroke1);
}

.quiz-text {
    display: flex;
    gap: 40px;
}

.quiz-right {
    font-family: "Forum", serif;
    color: var(--color-stroke1);
    font-weight: 500;
    font-size: 60px;
}

.quiz-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.quiz-title {
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0;
}

.quiz-desc {
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 300;
}

.quiz-list {
    padding: 16px 0;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 12px 0;
}

.rd-form-choice {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    align-content: stretch !important;
    align-items: center !important;
    gap: 0.3em !important;
    position: relative !important;
    line-height: 24px !important;
}

input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    outline: none;
}


.rd-choice-input {
    display: block !important;
    width: 24px !important;
    height: 24px !important;
    position: relative !important;
    opacity: 0 !important;
}

.rd-form-choice .rd-choice-input:checked ~ .rd-choice-label:before {
    border: 2px solid var(--color-stroke1) !important;
}

.rd-choice-label {
    font-size: 14px;
}

.rd-choice-label:before {
    width: 24px !important;
    height: 24px !important;
    top: 0 !important;
    left: 0 !important;
    background: var(--color-bg-light) !important;
    border: 2px solid var(--rd-main-white) !important;
    position: absolute !important;
    border-radius: 50% !important;
    content: "" !important;
    box-sizing: border-box !important;
}

.rd-choice-input:checked + .rd-choice-label:after {
    display: block !important;
}

.rd-choice-label:after {
    width: 16px !important;
    height: 16px !important;
    top: 4px !important;
    left: 4px !important;
    background: var(--color-stroke1) !important;
    position: absolute !important;
    border-radius: 50% !important;
    content: "" !important;
    display: none !important;
    box-sizing: border-box !important;
}

.quiz-button {
    display: flex;
}

.quiz-btn {
    margin-top: 30px;
    color: var(--color-bg);
    font-size: 12px;
    padding: 12px 40px;
    background: var(--color-stroke1);
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s, color 0.3s;
}

.quiz-btn:hover {
    color: var(--color-text);
    background: var(--color-primary);
    color: var(--color-text);
}

.quiz-btn svg {
    margin-left: 10px;
    stroke: black;
    transition: stroke 0.3s;
}

.quiz-btn:hover svg {
    stroke: white;
}

.page_connection {
    background: var(--color-bg-medium);
}

.connection-card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
}

.connection_info {
    font-family: "Forum", serif;
    font-size: 20px;
    color: var(--color-stroke1);
    padding-bottom: 20px;
}

.connection-desc {
    line-height: 1.5;
    font-size: 15px;
    color: var(--color-text);
}

.style2-button {
    padding-bottom: 17px;
}

.style2-btn {
    color: var(--color-bg);
    font-size: 12px;
    padding: 12px 50px;
    background: var(--color-stroke1);
    border-radius: 5px;
    font-weight: 600;
    transition: background 0.3s, color 0.3s;
}

.style2-btn:hover { 
    color: var(--color-text); 
    background: var(--color-primary); 
}

.main_reviews {
    background: var(--color-bg-light);
    padding: 40px 0px;
}

.page-indent2 {
    max-width: 1220px;
    margin: 0 auto; 
    padding: 40px 0px;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.reviews-title {
    text-align: center;
    font-family: "Forum", serif;
    font-size: 18px;
    color: var(--color-stroke1);
}

.reviews-subtitle {
    text-align: center;
    font-family: "Forum", serif;
    font-size: 46px;
    color: var(--color-text);
    font-weight: 500;
}

.reviews-cards {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: stretch;
    gap: 10px;
}

.reviews-card {
    border-bottom: 1px solid var(--color-stroke1);
    width: calc(33.33% - 7px);
}

.play-button {
    position: relative;
}

.play-button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 52px;
    height: 52px;
}

.play-button img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.reviews-name {
    font-size: 18px;
    color: var(--color-text);
    padding-top: 15px;
}

.reviews-desc {
    font-family: "Forum", serif;
    font-size: 18px;
    color: var(--color-stroke1);
    padding-top: 10px;
}

.reviews-btn {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--color-stroke1);
    padding-top: 30px;
    padding-bottom: 10px;
    gap: 5px;
}

.main_excursion {
    background: var(--color-bg-medium);
    padding: 40px 0px;
}

.excursion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.excursion-tittle {
    font-family: "Forum", serif;
    font-size: 26px;
    color: var(--color-stroke1);
}

.excursion-text {
    line-height: 1.5;
    font-size: 22px;
    color: var(--color-text);
    text-align: center;
    font-family: "Forum", serif;
}

.excursion-form form {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #828282ff;
    padding: 10px 0;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.excursion-btn {
    color: var(--color-bg);
    font-size: 13px;
    padding: 12px 50px;
    background: var(--color-stroke1);
    border-radius: 5px;
    font-weight: 600;
    transition: background 0.3s, color 0.3s;
}

.excursion-btn:hover { 
    color: var(--color-text); 
    background: var(--color-primary); 
}

.excursion-desc {
    text-align: center;
    color: #828282ff;
    font-size: 12px;
}

.excursion-line {
    border-bottom: 1px solid #828282ff;
}

.main_fix-price {
    background: var(--color-bg-light);
    padding: 40px 0;
}

.fix-price-information {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    max-height: 300px;
}

.fix-price-title {
    font-family: "Forum", serif;
    font-weight: 500;
    font-size: 46px;
    color: var(--color-text);
}

.fix-price-text {
    display: flex;
}

.fix-price-desc {
    font-family: "Forum", serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--color-stroke1);
}

.fix-price-text img {
    display: block;
    width: 25%;
    min-width: 25%;
    object-fit: cover;
    position: relative;
    top: -80px;
}

.advantage-title {
    padding-bottom: 20px;
    font-size: 18px;
}

.advantage-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.advantage-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    border-top: 1px solid var(--color-stroke1);
    border-bottom: 1px solid var(--color-stroke1);
    width: calc(33.33% - 14px);
    min-width: calc(33.33% - 14px);
}

.advantage-card-title {
    font-family: "Forum", serif;
    color: var(--color-stroke1);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}

.advantage-card-desc {
    font-size: 14px;
}

.price-sample {
    display: flex;
    justify-content: row;
    align-items: flex-end;
    margin-top: 40px;
    gap: 30px; 
}

.price-sample-text {
    display: flex;
    gap: 20px;
}

.price-sample-text svg {
    min-width: 30px;
    min-height: 30px;
    background: var(--color-bg);
    padding: 5px;
}

.price-sample-desc {
    font-size: 14px;
    line-height: 24px;
}

.price-sample a {
    font-size: 12px;
    padding: 12px 30px;
    color: var(--color-bg);
    background: var(--color-stroke1);
    border-radius: 5px;
    font-weight: 600;
    transition: color 0.3s;
    display: flex;
    white-space: nowrap;
    transition: background 0.3s, color 0.3s;
}

.price-sample a:hover {
    color: var(--color-text);
    background: var(--color-primary);
}

.main_trust {
    background: var(--color-bg-medium);
    padding: 40px 0px;
}

.trust {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid var(--color-stroke1);
    gap: 10px;
}

.trust-title {
    font-family: "Forum", serif;
    font-size: 46px;
    color: var(--color-text);
    font-weight: 500;
}

.trust-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.trust-desc_top {
    font-family: "Forum", serif;
    font-size: 25px;
    color: var(--color-stroke1);
    font-weight: 400;
}

.trust-desc_bottom {
    font-size: 16px;
    color: var(--color-text);
    font-weight: 400;
    padding-bottom: 60px;
}

.main_office {
    padding: 40px 0px;
    background: var(--color-bg-light);
}

.office {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.office-title {
    font-family: "Forum", serif;
    font-size: 18px;
    color: var(--color-stroke1);
    text-align: center;
}

.office-subtitle {
    font-family: "Forum", serif;
    font-size: 46px;
    color: var(--color-text);
    font-weight: 500;
    text-align: center;
}

.office-image img {
    width: auto;
    max-width: 100%;

}

.office-image {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.contact-information {
    color: var(--color-text);
    font-size: 22px;
    font-weight: 500;
    font-family: "Forum", serif;
}

.contact-adress {
    font-size: 15px;
    color: #828282ff;
}

.contact-connection {
    color: var(--color-text);
    font-size: 15px;
}

.contact-button {
    display: flex;
    gap: 20px;
}

.contact-button a {
    color: var(--color-bg);
    font-size: 13px;
    padding: 12px 40px;
    background: var(--color-stroke1);
    border-radius: 5px;
    font-weight: 600;
    font-family: "Forum", serif;
    transition: background 0.3s, color 0.3s;
}

.contact-button a:hover { 
    color: var(--color-text); 
    background: var(--color-primary); 
}

.contact-networks a img {
    width: 20px;
    height: auto;
    border: 1px solid #828282ff;
    padding: 8px;
    border-radius: 50%;
}

.footer {
    background: var(--color-bg-medium);
}

.footer-indent {
    max-width: 1172px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 20px 24px;
    background: var(--color-bg-medium);
}

.footer-title {
    font-size: 12px;
    color: var(--color-primary);
}

.modal-login {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    z-index: 2000;
}

.modal-registration {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    z-index: 2000;
}

.modal.open {
    display: flex;
}


.modal__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 300px;
    padding: 40px;
    background: var(--color-bg-medium);
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.1);

}

.modal__block form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal__block a {
    display: flex;
    justify-content: center;

}

.modal__title {
    text-align: center;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 30px;
    font-weight: 500;
    color: var(--color-stroke1);
    font-family: "Forum", serif;
}

.modal__label {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
}
.modal__input {
    flex-grow: 1;
    border-style: solid;
    border-width: 1px;
    border-color: transparent transparent #828282ff transparent ;
}

.modal__submit {
    color: var(--color-bg);
    margin-top: 20px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding: 12px 30px;
    background: var(--color-stroke1);
    border-radius: 5px;
    font-weight: 600;
    border: none;
    font-family: "Montserrat", serif;
}

.modal__submit:hover {
    color: var(--color-text);
    background: var(--color-primary);
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
    color: #828282ff;
    font-size: 14px;
}

.registration-desc {
    margin-top: 10px;
    text-align: center;
    color: #828282ff;
    font-size: 11px;
}

.registration-line {
    border-bottom: 1px solid #828282ff;
}

@media screen and (max-width: 1024px) {
    .page-indent, .page-indent1, .page-indent2 {
        max-width: 960px;
    }

    .header__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        flex-wrap: wrap;
    }

    .header_menu {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .menu {
        width: 100%;
    }

    .button_account {
        width: 100%;
        max-width: 140px;
        text-align: center;
    }

    .header-title {
        font-size: 70px;
    }

    .header-desc {
        font-size: 18px;
    }

    .style1-btn {
        font-size: 12px !important;
    }

    .about_us-title {
        text-align: center;
    }

    .style-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .choice-desc {
        font-size: 14px;
    }

}


/* Адаптив под 960px */
@media screen and (max-width: 960px) {
    .page-indent, .page-indent1, .page-indent2 {
        max-width: 720px;
    }

    .header__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        flex-wrap: wrap;
    }

    .header_menu {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .menu {
        width: 100%;
    }

    .header-title {
        font-size: 60px;
    }

    .about_as {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .about_us-right {
        order: -1;
    }

    .about_us-subtitle {
        font-size: 28px;
    }

    .about_us-desc {
        font-size: 14px;
    }

    .about_us-background {
        padding: 15px 25px;
    }

    .about_us-title1 {
        font-size: 18px;
    }

    .about_us-title2 {
        font-size: 18px;
        padding-top: 30px;
    }

    .about_us-text {
        font-size: 14px;
    }

    .style-cards {
        grid-template-columns: 1fr;
    }

    .style-decs {
        font-size: 28px;
    }

    .style-name {
        font-size: 18px;
    }

    .style-card-desc {
        font-size: 12px;
    }

    .service-img {
        display: none;
    }

    .service-subtitle {
        font-size: 28px;
    }

    .service-desc {
        font-size: 12px;
    }

    .service-mark-image img {
        width: 50px;
        height: 50px;
    }

    .choice-title {
        font-size: 18px;
    }

    .choice-desc {
        font-size: 12px;
    }

    .gallery-desc {
        font-size: 40px;
    }

    .gallery-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .connection_image img {
        display: none;
    }

    .connection-card {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 0px;
    }

    .connection-desc {
        font-size: 12px;
        padding-right: 20px;
    }

    .br-hide {
        display: none;
    }

    .style2-btn {
        font-size: 10px;
    }

    .price-step {
        flex-direction: column;
        height: auto;
    }

    .quiz-right {
        font-size: 40px;
    }

    .quiz-bar {
        border-bottom: none;
    }

    .price-title {
        font-size: 28px;
    }

    .quiz-right {
        display: none;
    }

    .quiz-desc {
        display: none;
    }

    .reviews-subtitle, .fix-price-title {
        font-size: 36px;
    }

    .reviews-card {
        width: 80%;
    }

    .excursion-tittle {
        font-size: 18px;
    }

    .excursion-text {
        font-size: 20px;
    }

    .excursion-btn {
        font-size: 11px;
    }

    .fix-price-text img {
        display: none;
    }

    .fix-price-text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .fix-price-text img {
        width: 50%;
        top: 0;
    }
    
    .advantage-title {
        margin-top: 20px;
    }

    .advantage-cards {
        flex-direction: column;
        align-items: center;
    }


    .advantage-card {
        width: 100%;
    }

    .price-sample {
        flex-direction: column;
        align-items: center;
    }

    .trust {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .trust-title {
        font-size: 36px;
    }
    .trust-desc_top {
        font-size: 20px;
    }
    .trust-desc_bottom {
        font-size: 14px;
    }
    .office-image {
        flex-direction: column;
        align-items: center;
    }
    .office-img {
        width: 90%;
    }
    .office-image img:not(.office-img) {
        width: 90%;
    }
    .contact {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .contact-menu {
        text-align: center;
    }
}


/* Адаптив под 600px */
@media screen and (max-width: 600px) {
    .header__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        flex-wrap: wrap;
    }

    .header_menu {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .header-logo {
        font-size: 16px;
    }
    .header_menu {
        gap: 20px;
    }
    .header-title {
        font-size: 50px;
    }

    .header-desc {
        font-size: 14px;
    }

    .about_as {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .about_us-right {
        order: -1;
    }

    .about_us-img {
        max-width: 100%;
    }

    .style-cards {
        grid-template-columns: 1fr;
    }

    .gallery-desc {
        font-size: 34px;
    }

    .gallery-cards {
        grid-template-columns: 1fr;
    }

    .connection-desc {
        font-size: 12px;
    }

    .price-title {
        font-size: 30px;
        text-align: center;
    }

    .quiz-text {
        gap: 20px;
    }

    .quiz-right {
        font-size: 30px;
    }

    .quiz-btn {
        width: 70%;
    }

    .reviews-subtitle, .fix-price-title {
        font-size: 28px;
    }

    .reviews-cards {
        flex-direction: column;
        align-items: center;
    }

    .fix-price-text img {
        display: none;
    }

    .play-button img {
        width: 100%;
        height: auto;
    }

    input {
        width: 100%;
    }

    .excursion-btn {
        width: 100%;
        text-align: center;
    }

    .trust-title {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .trust-desc_top {
        font-size: 18px;
    }

    .office-subtitle {
        font-size: 36px;
    }
    .contact-button {
        flex-direction: column;
        gap: 10px;
    }
    .contact-button a {
        padding: 10px 30px;
    }
    .contact-networks a img {
        width: 20px;
        padding: 6px;
    }
}

/* Открытое меню */
.mobile-menu.active {
    transform: translateY(0);
}


/* Адаптив под 480px */
@media screen and (max-width: 480px) {
    .header-title {
        font-size: 40px;
    }
    .header-desc {
        font-size: 16px;
    }
    .menu__item {
        font-size: 10px;
    }

    .button_account {
        font-size: 10px;
        padding: 8px 20px;
        font-weight: 600;
    }

    .style-name {
        font-size: 18px;
    }
    .style-card-desc {
        font-size: 12px;
    }

    .services {
        gap: 0;
    }

    .choice {
        flex-direction: column;
        text-align: center;
    }

    .gallery-title {
        font-size: 16px;
    }

    .gallery-desc {
        font-size: 28px;
    }

    .connection-card {
        align-items: center;

    }

    .connection_info {
       padding: 0;
       padding-right: 10px;
    }

    .connection-desc {
        display: none;
    }

    .price-title {
        font-size: 24px;
    }

    .quiz-right {
        font-size: 24px;
    }

    .quiz-btn {
        width: 100%;
        font-size: 10px;
    }

    .reviews-title, .excursion-tittle {
        font-size: 16px;
    }

    .reviews-subtitle, .fix-price-title {
        font-size: 24px;
    }

    .fix-price-desc {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .excursion-text {
        font-size: 18px;
    }

    .excursion-form form {
        gap: 10px;
    }

    .excursion-btn {
        font-size: 10px;
        padding: 10px;
    }

    .trust-title {
        font-size: 24px;
    }
    .trust-desc_top {
        font-size: 16px;
    }
    .trust-desc_bottom {
        font-size: 12px;
}
    .office-title {
        font-size: 16px;
    }
    .office-subtitle {
        font-size: 30px;
    }
    .contact-information {
        font-size: 18px;
    }
    .contact-button a {
        font-size: 12px;
        padding: 8px 20px;
    }

    .modal__title {
        font-size: 30px;
    }

    .modal__block {
        width: 200px;
    }

    .registration-desc {
        font-size: 10px;
    }
}